:root{
    --primary-color: linear-gradient(hsl(0, 0%, 75%), hsl(0, 0%, 70%));
    --secondary-color: hsl(0, 0%, 85%);
    --secondary-color-hover: hsl(0, 0%, 80%);
    --secondary-color-active: hsl(0, 0%, 75%);
    --accent-color: hsl(140, 12%, 24%);
    --background-color: hsl(0, 0%, 45%);
    --card-background-color: linear-gradient(-30deg, hsl(172, 87%, 32%), hsl(172, 87%, 52%));
    --shadow-color: hsl(0, 0%, 20%);
    --focus-color: hsl(0, 0%, 100%);
}
body{
    margin: 10px;
    background-color: var(--background-color);
    font-family: Montserrat, Roboto, Arial;
    font-weight: 600;
    line-height: 1.5;
}
p, h4{
    display: inline;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: var(--primary-color);
    border: 4px solid var(--secondary-color);
    border-radius: 25px;
    gap: 25px;
    padding: 20px;
}
.section {
    flex: 1 0;
    padding: 15px;
    border: 3px solid var(--accent-color);
    border-radius: 8px;
    background: var(--card-background-color);
    box-shadow: 2px 2px 4px var(--shadow-color);
}
input:-webkit-autofill{
    box-shadow: 0 0 0 1000px var(--secondary-color) inset !important;
    border: 2px solid transparent !important;
}
input:-webkit-autofill:focus, input:-webkit-autofill:hover, input:-webkit-autofill:active{
    box-shadow: 0 0 0 1000px var(--focus-color) inset !important;
}
input, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: var(--secondary-color);
    border: 2px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
input{
    outline: solid 1px var(--accent-color);
    caret-color: var(--accent-color);
}
input:hover{
    background: var(--secondary-color-hover);
}
input:focus{
    background: var(--focus-color);
    outline: solid var(--accent-color);
}
button{
    box-shadow: 3px 3px 4px var(--shadow-color);
}
button:hover{
    background-color: var(--secondary-color-hover);
}
button:active{
    background-color: var(--secondary-color-active);
    box-shadow: 0px 0px 0px;
    border: 2px solid var(--accent-color);
}
@media (max-width: 1060px) {
    .container {
        flex-direction: column;
    }
}