:root{
    --button-color: hsl(47, 78%, 59%);
    --button-hover: hsl(47, 78%, 49%);
    --button-active: hsl(47, 78%, 39%);
    --button-pressed: hsl(47, 78%, 25%);
    --background-color: hsl(231, 12%, 21%);
    --card-background-color: hsl(231, 11%, 34%);
    --card-border-color: hsl(231, 11%, 44%);
    --input-color: hsl(218, 42%, 55%);
    --input-hover: hsl(218, 42%, 65%);
    --input-focus: hsl(218, 42%, 75%);
    --input-outline: hsl(218, 42%, 35%);
    --text-color: hsl(78, 12%, 80%);
}
body{
    margin: 10px;
    background-color: var(--background-color);
    font-family: Montserrat, Roboto, Arial;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-color);
}
p, h4{
    display: inline-block;
    font-size: 1.2rem;
    margin: 5px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 25px;
    padding: 40px;
}
.section {
    flex: 1 0;
    padding: 15px;
    border: 3px solid var(--card-border-color);
    border-radius: 8px;
    background: var(--card-background-color);
    box-shadow: 4px 4px 6px hsl(0, 0%, 15%);
}
input:-webkit-autofill{
    box-shadow: 0 0 0 1000px var(--input-color) inset !important;
    border: 1px solid var(--input-outline) !important;
}
input:-webkit-autofill:focus, input:-webkit-autofill:hover, input:-webkit-autofill:active{
    box-shadow: 0 0 0 1000px var(--input-focus) inset !important;
    border: 2px solid var(--input-outline) !important;
    outline: 3px solid var(--input-outline) !important;
}
input, button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    background-color: var();
    border: 2px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 
        background 0.25s ease,
        background-color 0.25s ease,
        box-shadow 0.10s ease,
        border 0.25s ease,
        outline 0.10s ease;
}
input{
    background-color: var(--input-color);
    outline: solid 1px var(--input-outline);
    caret-color: var(--input-outline);
}
input:hover{
    background: var(--input-hover);
}
input:focus{
    background: var(--input-focus);
    outline: solid 3px var(--input-outline);
}
button{
    background-color: var(--button-color);
    box-shadow: 3px 3px 4px hsl(0, 0%, 20%);
}
button:hover{
    background-color: var(--button-hover);
}
button:active{
    background-color: var(--button-active);
    box-shadow: 0px 0px 0px;
    border: 2px solid var(--button-pressed);
}
@media (max-width: 1060px) {
    .container {
        flex-direction: column;
    }
}